{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2>Category:{{cat}}</h2>

    <!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Shop Category page</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

</div>
<div class="container" id="listings">
    {% for i in items %}
    <div class="card mb-3" style="max-width: 540px;" id="card-listings">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{i.imglink}}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">{{i.description}}</p>
              <p class="card-text">${{i.currentbid}}</p>
              <a href="{% url 'listingpage' i.id %}"><button class="btn btn-outline-success">Bid Now!</button></a>
              <p class="card-text"><small class="text-muted">{{i.time}}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
</div>
{% endblock %}